.wrapper{
    height: 232px;
    width:159px;
  
}

.card{
    width: 100%;
   height:205px ;
   background-color: var(--color-white);
   border-radius: 10px;

}

.card_img img{
    border-radius: 10px 10px 0px 0px;
}

.card_follows{
    width: 71px;
    height: 23px;
    border-radius: 10px;
    display: flex;
   justify-content: center;
   align-items: center;
   color:var(--color-white) ;
   padding: 1px;
   font-size: 10px;
    background-color: var(--color-black);
    margin: 2px;
}



.card_title{
    
    font-size: 14px;
    color: var(--color-white);
    margin-top: 6px;
}

